# =========================
# Build outputs
# =========================
Debug/
Release/
build/

# =========================
# Compiled / binary files
# =========================
*.o
*.d
*.elf
*.bin
*.hex
*.map

# =========================
# CubeIDE (user-specific)
# =========================
*.launch

# =========================
# VS Code (local editor config)
# =========================
.vscode/
.settings/

# =========================
# OS files
# =========================
.DS_Store

# =========================
# Temporary / logs
# =========================
*.log
*.tmp
*.bak
*.swp